html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: gray;
}
.equivocado{
    outline:2px solid red;
    border-color: red;
    
    &:focus-visible{
        outline:2px solid red;
        border-color: red;
    }
}
.normal{
    border-color: gray;

    &:focus-visible{
        border-color: gray;
    }
}
.formulario-campos input{
    border: 1px solid gray;
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
}
#burbuja{
    position: absolute;
    display: none;
    
    font-size: 12px;
    background-color: rgb(231, 210, 182);
    border: 2px solid rgb(155, 127, 90);
    color: rgba(0, 0, 0, 0.7);
    border-radius: 1px;
    padding: 4px;
}
label::after{
    font-family: Arial, Helvetica, sans-serif;
    content: '*:';
    
}
.formulario-datos{
    display: flex;
    justify-self: center;
    max-width: 80%;
    gap: 20px;
}
.formulario-campos{
    display: flex;  
    flex-direction: column;
    
}
.formulario-alta, .formulario-listado{
    background-color: rgb(164, 164, 164);
    padding: 40px;
}
