*{
    box-sizing: border-box;
}
#tabla, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}
td, th{
    padding: 3px;
    max-width: 50%;
    
}
dialog{
    position: absolute;
    left: 0;
    top: 0;
}
#tabla{
    margin-top: 90px;
    width: 70%;
}