html{
    box-sizing: border-box;
}
.contenedor{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 90%;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
input{
    display: inline-block;
    width: 210px;
}